.head-aboutme{
    width: 80%;
    height: 60vh;
    position: relative;
    top: -8vh;
}
.aboutme-img{
    object-fit:cover;
    border-radius: 50px;
}
.content-name{
    position: absolute;
    color: #fff;
    font-size: 100px;
    top: 45%;
    left: 70%;
    font-family: 'Sov';
    z-index: 3;
}
.contant-box{
    position: relative;
    background: #fff;
    border-radius: 50px;
    width: 85%;
    left: auto;
    right: -10%;
    padding: 30px 40px;
    font-size: 20px;
    margin: 50px 0;
    list-style-position: inside;
}
.contant-box li {
    padding-left: 1.25rem;
    position: relative;
  }
  
  li::before {
    left: 0;
    position: absolute;
  }
.menu-balloon{
    width: 40px;
    height: 13rem;
    padding: 20px 10px;
    position: sticky;
    top: 20%;
    left: 3%;
    background: var(--bs-late);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-balloon{
    color:var(--bs-cream);
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px; 
    width: 45px;
    border-radius: 10px;
    margin: 5px 3px;
    z-index: 2;
}
.btn-balloon a{
    color:var(--bs-cream);
    text-decoration: none;
    font-size: 30px;
}
.btn-balloon:hover {
    background-color: var(--bs-cream);
    color: var(--bs-brown);
    border-radius: 10px;
}
.btn-balloon a:hover {
    background-color: var(--bs-cream);
    color: var(--bs-brown);
}
.content{
    display: flex;
    justify-content: space-between;
}
.content-data{
    width: 100%;
}